beautifulsoup4
lxml
langchain-chroma
langchain-community
langchain-huggingface
langchain-groq
langchain-text-splitters
langgraph
fastapi
uvicorn[standard]
python-multipart
langchain-openrouter
pypdf
python-dotenv
requests
sentence-transformers
typing-extensions
flashrank
duckduckgo-search
gradio